document
html(lang='en', ng-app='EventricDocs')
head
    meta(charset='UTF-8')
    title Eventric Documentation
    
    link(href='/components/bootstrap-3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/application.css', rel='stylesheet')

    script(src='/components/jquery-2.1.1/jquery.min.js')
    script(src='/components/angularjs-1.2.25/angular.min.js')
    script(src='/components/angular-ui-router-0.2.11/angular-ui-router.min.js')
    script(src='/components/bootstrap-3.2.0/js/bootstrap.min.js')
    script(src='/scripts/pages-data.js')

  body
    .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='#') Eventric Documentation
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#contact') Docs
    .container(ng-controller="ApplicationCtrl")
      .row.row-offcanvas.row-offcanvas-right
        #sidebar.col-xs-6.col-sm-4.sidebar-offcanvas(role='navigation')
          .list-group
            a.list-group-item(ui-sref="docs({ 'functionName' : page.name, 'moduleName' : page.module })", ng-repeat="page in NG_PAGES") {{page.module}} - {{page.name}}

        .col-xs-12.col-sm-8
          div(ui-view="")
    
    script(type='text/javascript', src='/scripts/application.js')
    