input.eventric-api--search {
  border-radius: 10px;
  border: 1px solid #666;
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-top: 10px;
  outline: 0;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-top: 4px;
  width: 225px;
}
