.eventric-api--detail(ng-show="api.name")
  h1 {{api.name}}

  .eventric-api--missing(ng-hide="api.description") Missing Description
  .eventric-api--description(ng-show="api.description")
    blockquote
      p(ng-bind-html="api.description | unsafe")

  .eventric-api--missing(ng-hide="api.description") Missing Example Code
  .eventric-api--example-code(ng-show="api.example")
    strong Example
    pre(ng-bind-html="api.example | unsafe")

  comments(
    disqus-shortname="EventricJS"
    disqus-identifier="{{api.source}}"
    disqus-title="{{api.name}}"
  )
