input.eventric-api--search {
  border: 1px solid #666;
  border-radius: 10px;
  padding: {
    left: 10px;
    top: 4px;
    bottom: 2px;
  }
  width: 225px;
  margin: {
    left: 15px;
    top: 10px;
    bottom: 10px;
  }
  font-size: 12px;
  outline: 0;
}

.eventric-api--missing {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
}